@charset "UTF-8";

/*mobile-first*/

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(226, 226, 226);
}

header{
    background-color: rgb(153, 153, 153);
}

h1{
    text-align: center;
    padding-top: 30px;
    margin-bottom: 25px;
}

span#menu{
    background-color: rgb(43, 43, 43);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

span#menu:hover{
    background-color: white;
    color: black;
}

li{
    font-size: 1.1em;
    display: block;
    color: white;
    background-color: rgb(69, 69, 69);
    border: 0.5px solid rgba(255, 255, 255, 0.775);
    text-align: center;
    padding: 20px;
}

a{
    text-decoration: none;
}
 menu{
    display: none;
 }

main{
    background-color: white;
    margin: auto;
    text-align: justify;
    border-radius: 5px;
}

h2{
    padding: 20px;
}

p{
    padding: 10px;
    text-indent: 20px;
}